{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<form method="POST" class="all">
  <h3 align="center">Login thru your sensor ID</h3>
  <div class="form-group">
    <label for="sensor_id_html">Sensor ID</label>
    <input
      type="sensor_id_html"
      class="form-control"
      id="sensor_id_html"
      name="sensor_id_html"
      placeholder="Enter sensor ID"
    />
  </div>
  <br />
  <button type="submit" class="button-64" role="button"><span class="text">Login</span></button>
</form>
{% endblock %}
